@model personapi_dotnet.Models.Entities.Persona

@{
    ViewData["Title"] = "Detalles Persona";
}

<h1>Detalles de Persona</h1>

<table class="table table-bordered">
    <tr>
        <th>Cédula</th>
        <td>@Model.Cc</td>
    </tr>
    <tr>
        <th>Nombre</th>
        <td>@Model.Nombre</td>
    </tr>
    <tr>
        <th>Apellido</th>
        <td>@Model.Apellido</td>
    </tr>
    <tr>
        <th>Género</th>
        <td>@Model.Genero</td>
    </tr>
    <tr>
        <th>Edad</th>
        <td>@Model.Edad</td>
    </tr>
</table>

<a asp-action="Edit" asp-route-id="@Model.Cc" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Volver</a>